*{
    scroll-behavior: smooth;
}
header{
    background-color: white;
}
body{
    box-sizing: border-box;
    background-color: #E0E8E6;
}
.center-block{
    display: block;
    margin: 0 auto;
}
.side{
    border-radius: 0 90px 0 0;
}
.button-grp>button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}
.card{
    height: 27rem;
    overflow: hidden;
    border-radius: 0px 80px;
}
.card-img-top>img{
    width: auto;
    height: 220px;
    border-radius: 0px 80px 0px 0px;
}