*{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    background-color: #E0E8E6;
}
.center-block{
    display: block;
    margin: 0 auto;
}
.card{
    height: 25rem;
    overflow: hidden;
    border-radius: 0px 120px;
}
.card-img-top>img{
    width: ;
    border-radius: 0px 120px 0px 0px;
}